<html class="svg" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en_US" />
    {% for dns in GEOSITE_DNS_PREFETCH %}
    <link rel="dns-prefetch" href="{{ dns }}">
    {% endfor %}
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <link rel="shortcut icon" type="image/ico" href="{{ STATIC_URL }}/favicon.ico" />
    <!-- Fonts / External -->
    {% block head_fonts %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    {% endblock %}
    <!-- CSS / External-->
    <link href="{{ STATIC_URL}}geosite/lib/jquery-ui/{{ GEOSITE_STATIC_DEPS.jqueryui.version }}/jquery-ui.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL}}geosite/lib/select2/select2-{{ GEOSITE_STATIC_DEPS.select2.version }}/dist/css/select2.min.css" rel="stylesheet"/>
    {% block head_bootstrap_css %}
    <link href="{{ STATIC_URL }}geosite/build/bootstrap/bootstrap.css" rel="stylesheet"/>
    {% endblock %}
    <link href="{{ STATIC_URL}}geosite/lib/c3/{{ GEOSITE_STATIC_DEPS.c3.version }}/c3.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL}}geosite/lib/leaflet/1.0.0-b1/leaflet.css" type="text/css" media="all" />
    <link href="{{ STATIC_URL}}geosite/lib/font-awesome/{{ GEOSITE_STATIC_DEPS.fontawesome.version }}/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- CSS / Internal -->
    {% block head_main_css %}
    <link href='{{ STATIC_URL }}geosite/build/css/main.css?v={{ GEOSITE_STATIC_VERSION }}' rel='stylesheet' />
    {% endblock %}
    <style type="text/css">[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}</style>
    <!-- JavaScript / Polyfill -->
    {% block polyfill %}
    {% if GEOSITE_STATIC_DEPS.polyfill %}
    <script src="{{ STATIC_URL }}geosite/build/js/polyfill.js?v={{ GEOSITE_STATIC_VERSION }}"></script>
    {% else %}
    <script src="{{ STATIC_URL }}geosite/build/js/polyfill.min.js?v={{ GEOSITE_STATIC_VERSION }}"></script>
    {% endif %}
    {% endblock %}
    <!-- JavaScript / External -->
    <!--<script src="{{ STATIC_URL}}geosite/lib/jquery/1.7.2/jquery-1.7.2.js"></script>-->
    {% if GEOSITE_STATIC_DEBUG.jquery %}
    <script src="{{ STATIC_URL}}geosite/lib/jquery/{{ GEOSITE_STATIC_DEPS.jquery.version }}/jquery-{{ GEOSITE_STATIC_DEPS.jquery.version }}.js"></script>
    <script src="{{ STATIC_URL}}geosite/lib/jquery-ui/{{ GEOSITE_STATIC_DEPS.jqueryui.version }}/jquery-ui.js"></script>
    {% else %}
    <script src="{{ STATIC_URL}}geosite/lib/jquery/{{ GEOSITE_STATIC_DEPS.jquery.version }}/jquery-{{ GEOSITE_STATIC_DEPS.jquery.version }}.min.js"></script>
    <script src="{{ STATIC_URL}}geosite/lib/jquery-ui/{{ GEOSITE_STATIC_DEPS.jqueryui.version }}/jquery-ui.min.js"></script>
    {% endif %}
    {% if GEOSITE_STATIC_DEBUG.select2 %}
    <script src="{{ STATIC_URL}}geosite/lib/select2/select2-{{ GEOSITE_STATIC_DEPS.select2.version }}/dist/js/select2.full.js"></script>
    {% else %}
    <script src="{{ STATIC_URL}}geosite/lib/select2/select2-{{ GEOSITE_STATIC_DEPS.select2.version }}/dist/js/select2.full.min.js"></script>
    {% endif %}
    {% if GEOSITE_STATIC_DEBUG.angular %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/{{ GEOSITE_STATIC_DEPS.angular.version }}/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/{{ GEOSITE_STATIC_DEPS.angular.version }}/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/{{ GEOSITE_STATIC_DEPS.angular.version }}/angular-sanitize.js"></script>
    {% else %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/{{ GEOSITE_STATIC_DEPS.angular.version }}/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/{{ GEOSITE_STATIC_DEPS.angular.version }}/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/{{ GEOSITE_STATIC_DEPS.angular.version }}/angular-sanitize.min.js"></script>
    {% endif %}
    {% if GEOSITE_STATIC_DEBUG.bootstrap %}
    <script src="{{ STATIC_URL}}geosite/lib/bootstrap/3.3.5/dist/js/bootstrap.js"></script>
    {% else %}
    <script src="{{ STATIC_URL}}geosite/lib/bootstrap/3.3.5/dist/js/bootstrap.min.js"></script>
    {% endif %}
    {% if GEOSITE_STATIC_DEBUG.d3 %}
    <script src="{{ STATIC_URL}}geosite/lib/d3/{{ GEOSITE_STATIC_DEPS.d3.version }}/d3.js"></script>
    {% else %}
    <script src="{{ STATIC_URL}}geosite/lib/d3/{{ GEOSITE_STATIC_DEPS.d3.version }}/d3.min.js"></script>
    {% endif %}
    {% if GEOSITE_STATIC_DEBUG.c3 %}
    <script src="{{ STATIC_URL}}geosite/lib/c3/{{ GEOSITE_STATIC_DEPS.c3.version }}/c3.js"></script>
    {% else %}
    <script src="{{ STATIC_URL}}geosite/lib/c3/{{ GEOSITE_STATIC_DEPS.c3.version }}/c3.min.js"></script>
    {% endif %}
    {% if GEOSITE_STATIC_DEBUG.leaflet %}
    <script src="{{ STATIC_URL}}geosite/lib/leaflet/1.0.0-b1/leaflet-src.js"></script>
    <script src="{{ STATIC_URL}}geosite/lib/Leaflet.utfgrid/dist/leaflet.utfgrid-src.js"></script>
    {% else %}
    <script src="{{ STATIC_URL}}geosite/lib/leaflet/1.0.0-b1/leaflet.js"></script>
    <script src="{{ STATIC_URL}}geosite/lib/Leaflet.utfgrid/dist/leaflet.utfgrid.js"></script>
    {% endif %}
    <!-- JavaScript / Internal -->
    {% block head_main_js %}
    {% if GEOSITE_STATIC_DEBUG.main %}
    <script src="{{ STATIC_URL }}geosite/build/js/main.js?v={{ GEOSITE_STATIC_VERSION }}"></script>
    {% else %}
    <script src="{{ STATIC_URL }}geosite/build/js/main.min.js?v={{ GEOSITE_STATIC_VERSION }}"></script>
    {% endif %}
    {% endblock %}
    {% block head_inline %}
    {% include "geosite/_includes/snippet_const.html" %}
    {% endblock %}
    {% block extra_head %}{% endblock %}
    {% block init %}
    <script type="text/javascript" language="Javascript">
        $(function(){
            init_main_app("mainApp","");
        });
    </script>
    {% endblock %}
  </head>
  <body>{% block content %}{% block extra_content %}{% endblock %}{% endblock %}</body>
</html>
