{% extends "geosite/base.html" %}
{% load geosite_tags %}
{% block extra_head %}
  {% block map_config %}
  <script>
    geosite.map_config = {{ map_config_json|safe }};
  </script>
  {% endblock %}
  {% block initial_state %}
  <script>
    geosite.initial_state = {{ state_json|safe }};
    geosite.state_schema = {{ state_schema_json|safe }};
  </script>
  {% endblock %}
{% endblock %}

{% block init %}
<script type="text/javascript" language="Javascript">
    $(function(){
        init_start("mainApp");
    });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% block header %}{% endblock %}
    <div
      id="geosite-main"
      class="row geosite-row geosite-main geosite-controller"
      ng-controller="geosite-main"
      data-controller-name="geosite-main"
      data-controller-type="geosite-main">
      {% block sidebar_left %}{% endblock %}
      <div
        id="geosite-map"
        class="row geosite-row geosite-map geosite-controller"
        ng-controller="geosite-map"
        data-controller-name="geosite-map"
        data-controller-type="geosite-map">
        {% block map_controllers %}
        {% include "geosite/_includes/map_legend.html" %}
        {% include "geosite/_includes/map_sidebar_toggle.html" %}
        {% include "geosite/_includes/map_calendar.html" %}
        {% endblock %}
        <div id="map"
          class="geosite-controller geosite-map-map"
          ng-controller="geosite-map-map"
          data-controller-name="geosite-map-map"
          data-controller-type="geosite-map-map">
        </div>
      </div>
      {% block sidebar_right %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
</div>
{% block extra_content %}{% endblock %}
{% endblock %}
