{% load geosite_tags %}
<div
  class="geosite-map-legend geosite-controller"
  ng-controller="geosite-map-legend"
  data-controller-name="geosite-map-legend"
  data-controller-type="geosite-map-legend">
  <div class="geosite-map-legend-label">
    <a
      class="btn btn-lg btn-primary"
      style="border:0;"
      title="Legend"
      data-target="#geosite-map-legend-container"
      data-toggle="collapse">Legend - Click to Open</a>
  </div>
  <div id="geosite-map-legend-container" class="geosite-map-legend-container collapse" style="">
    <div class="geosite-map-legend-featurelayers">
      {% for key, layer in map_config.featurelayers.items|sortItemsByList:map_config.legendlayers %}
      {% if layer.legend %}
      <div class="geosite-map-legend-item noselect">
        <div class="geosite-map-legend-item-left">
          <div class="geosite-map-legend-item-icon geosite-map-legend-item-more">
            <a data-toggle="modal" data-target="#geosite-layer-more-featurelayer-{{ forloop.counter0 }}">
              <i class="fa fa-info-circle"></i>
            </a>
          </div><!--
          --><div class="geosite-map-legend-item-icon geosite-map-legend-item-visibility">
             <a
               class="geosite-map-legend-item-visibility-button geosite-intent geosite-toggle"
               data-intent-names="[&quot;showLayer&quot;,&quot;hideLayer&quot;]"
               data-intent-data="{&quot;layer&quot;:&quot;{{ key }}&quot;}">
               <i class="fa fa-eye geosite-on"></i><i class="fa fa-eye-slash geosite-off"></i>
             </a>
         </div><!--
         --><div class="geosite-map-legend-item-icon geosite-map-legend-item-zoomto{% if layer.type != "geojson" %} fade disabled{% endif %}">
            <a
              class="geosite-map-legend-item-zoomto-button geosite-intent"
              data-intent-name="zoomToLayer"
              data-intent-data="{&quot;layer&quot;:&quot;{{ key }}&quot;}">
              <i class="fa fa-compress"></i>
            </a>
          </div>
        </div><!--
        --><div class="geosite-map-legend-item-right">
          {% if layer.legend.symbol %}
          <div class="geosite-map-legend-item-symbol">
          {% if layer.legend.symbol.type == "circle" %}
          <svg width="100%" height="100%" version="1.0" xmlns="http://www.w3.org/2000/svg">
            <circle
            cx="50%" cy="50%" r="{{ layer.legend.symbol.radius }}"
            fill="{{ layer.symbology.styles.default.color }}" stroke-width="1" stroke="#000000"></circle>
          </svg>
          {% elif layer.legend.symbol.type == "ellipse" %}
          <svg width="100%" height="100%" version="1.0" xmlns="http://www.w3.org/2000/svg">
            <ellipse
              cx="50%" cy="50%" rx="{{ layer.legend.symbol.width }}" ry="{{ layer.legend.symbol.height }}"
              fill="{{ layer.symbology.styles.default.color }}" stroke-width="1" stroke="#000000"></ellipse>
          </svg>
          {% elif layer.legend.symbol.type == "gradient" %}
          <a data-toggle="modal" data-target="#geosite-layer-legend-featurelayer-{{ forloop.counter0 }}">
            <svg width="{{ layer.legend.symbol.width }}px" height="100%" version="1.0" xmlns="http://www.w3.org/2000/svg">
            {% with numberOfColors=layer.symbology.colors|length %}
            {% for color in layer.symbology.colors %}
              {% with idx=forloop.counter0 %}
              <rect
                x="{{ idx|percent:numberOfColors }}%"
                y="0"
                width="{{ 1|percent:numberOfColors }}%"
                height="{{ layer.legend.symbol.height }}"
                fill="{{ color }}"
                stroke-width="1"
                stroke="#000000"/>
              {% endwith %}
            {% endfor %}
            {% endwith %}
            </svg>
          </a>
          {% elif layer.legend.symbol.type == "graphic" %}
          <a data-toggle="modal" data-target="#geosite-layer-legend-featurelayer-{{ forloop.counter0 }}">
            {% if layer.legend.symbol.preview %}
            <img src="{{ layer|legendGraphic }}" />
            {% else %}
            <i class="fa fa-image" style="color:black; font-size: 20px;"></i>
            {% endif %}
          </a>
          {% endif %}
          </div><!--
          -->{% endif %}<div class="geosite-map-legend-item-label"><span>{{ layer.legend.label }}</span></div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <hr>
    <div class="geosite-map-legend-baselayers geosite-radio-group">
      {% for layer in map_config.baselayers %}
      {% if layer.legend %}
      <div class="geosite-map-legend-item noselect">
        <div class="geosite-map-legend-item-left">
          <div class="geosite-map-legend-item-icon geosite-map-legend-item-more">
            <a data-toggle="modal" data-target="#geosite-layer-more-baselayer-{{ forloop.counter0 }}">
              <i class="fa fa-info-circle"></i>
            </a>
          </div><!--
          --><div class="geosite-map-legend-item-icon geosite-map-legend-item-visibility">
               <a
                 class="geosite-map-legend-item-visibility-button geosite-intent geosite-radio{% if forloop.counter0 == 0 %} geosite-on{% endif %}"
                 data-intent-name="switchBaseLayer"
                 data-intent-data="{&quot;layer&quot;:&quot;{{ layer.id }}&quot;}"
                 data-intent-class-on="geosite-on"
                 data-intent-class-off="">
                 <i class="fa fa-eye geosite-on"></i><i class="fa fa-eye-slash geosite-off"></i>
               </a>
             </div><!--
          --><div class="geosite-map-legend-item-symbol" style="width: 10px;"></div>
        </div><!--
        --><div class="geosite-map-legend-item-right">
          <div class="geosite-map-legend-item-label" style="width: 100%;">
            <span>{{ layer.legend.label }}</span>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div id="geosite-legend-modals" class="geosite-legend-modals">
    {% for key, layer in map_config.featurelayers.items|sortItemsByList:map_config.legendlayers %}
    {% with idx=forloop.counter0|stringformat:"i" %}
    {% with id="geosite-layer-more-featurelayer-"|add:idx %}
    {% include "geosite/_includes/modals/modal_layer_more.html" with id=id layer=layer %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
    {% for layer in map_config.baselayers %}
    {% with idx=forloop.counter0|stringformat:"i" %}
    {% with id="geosite-layer-more-baselayer-"|add:idx %}
    {% include "geosite/_includes/modals/modal_layer_more.html" with id=id layer=layer %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
    {% for key, layer in map_config.featurelayers.items|sortItemsByList:map_config.legendlayers %}
    {% with idx=forloop.counter0|stringformat:"i" %}
    {% with id="geosite-layer-legend-featurelayer-"|add:idx %}
    {% include "geosite/_includes/modals/modal_layer_legend.html" with id=id layer=layer %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </div>
</div>
