{% load geosite_tags %}
<div
  class="geosite-map-filter geosite-controller"
  ng-controller="geosite-map-filter"
  data-controller-name="geosite-map-filter"
  data-controller-type="geosite-map-filter">
  <div class="geosite-map-filter-label">
    <a
      class="btn btn-lg btn-primary"
      style="border:0;"
      title="Filter Data"
      data-target="#geosite-map-filter-container"
      data-toggle="collapse">Filter Data - Click to Open</a>
  </div>
  <div id="geosite-map-filter-container" class="collapse" style="" ng-non-bindable>
    {% for f in map_config.featurelayers.popatrisk.filters %}
      {% if f.type == "radio" %}
        <div class="geosite-filter geosite-filter-radio" style="height: {{ f.height }};">
          <div class="geosite-filter-label">
            <a data-toggle="modal" data-target="#geosite-filter-description-{{ forloop.counter0 }}"><i class="fa fa-info-circle"></i></a>
            <span>{{ f.label }}</span> :
          </div>
          <div class="btn-group" style="float:left;" data-toggle="buttons">
            {% for opt in f.radio.options %}
            <label class="btn btn-default{% if opt.checked %} active{% endif %}">
              <input
                type="radio"
                id="{{ opt.id }}"
                name="{{ opt.name }}"
                value="{{ opt.value }}"
                data-output="{{ f.radio.output }}"
                {% if opt.checked %} checked="checked"{% endif %}/>
              {{ opt.label }}
            </label>
            {% endfor %}
          </div>
        </div>
      {% elif f.type == "checkbox" %}
        <div class="geosite-filter geosite-filter-checkbox" style="height: {{ f.height }};">
          <div class="geosite-filter-label">
            <a data-toggle="modal" data-target="#geosite-filter-description-{{ forloop.counter0 }}"><i class="fa fa-info-circle"></i></a>
            <span>{{ f.label }}</span> :
          </div>
          <div class="btn-group" style="float:left;" data-toggle="buttons" data-output="{{ f.checkbox.output }}">
            {% for opt in f.checkbox.options %}
            <label class="btn btn-sm btn-default{% if opt.checked %} active{% endif %}">
              <input
                type="checkbox"
                id="{{ opt.id }}"
                data-value="{{ opt.value}}"
                autocomplete="off"
                {% if opt.checked %} checked="checked"{% endif %}/>
              {{ opt.label }}
            </label>
            {% endfor %}
          </div>
        </div>
      {% elif f.type == "slider" %}
        <div class="geosite-filter geosite-filter-slider" style="height: {{ f.height }};">
          <div class="geosite-filter-label">
            <a data-toggle="modal" data-target="#geosite-filter-description-{{ forloop.counter0 }}"><i class="fa fa-info-circle"></i></a>
            <span>{{ f.label }}</span> :
          </div>
          <div style="display:table; height:{{ f.height}};padding-left:10px;padding-right:10px;">
            <div style="display:table-cell;vertical-align:middle;">
              <div class="geosite-filter-slider-label">Placeholder</div>
              <div
                class="geosite-filter-slider-slider"
                style="width:{{ f.slider.width }};"
                data-type="{{ f.slider.type }}"
                {% if f.slider.value %}
                data-value="{{ f.slider.value }}"
                {% elif f.slider.values %}
                data-values="{{ f.slider.values }}"
                {% endif %}
                data-range="{{ f.slider.range }}"
                data-output="{{ f.slider.output }}"
                {% if f.slider.min != None %}data-min-value="{{ f.slider.min }}"{% endif %}
                {% if f.slider.max != None %}data-max-value="{{ f.slider.max }}"{% endif %}
                {% if f.slider.step %}data-step="{{ f.slider.step }}"{% endif %}
                {% if f.slider.options %}data-options="{{ f.slider.options|safe }}"{% endif %}
                data-label-template="{{ f.slider.label|safe }}"
                ></div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div id="geosite-filter-modals" class="geosite-filter-modals">
    {% for f in map_config.featurelayers.popatrisk.filters %}
    <div style="z-index:-1;color:black;" class="modal fade" id="geosite-filter-description-{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">{{ f.label }}</h4>
          </div>
          <div class="modal-body">
            {{ f.description|md2html|safe }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
