{% load geosite_tags %}
<div
  class="geosite-map-filter geosite-controller"
  ng-controller="geosite-map-filter"
  data-controller-name="geosite-map-filter"
  data-controller-type="geosite-map-filter">
  <div class="geosite-map-filter-label">
    <a
      class="btn btn-lg btn-primary"
      style="border:0;"
      title="Filter Data"
      data-target="#geosite-map-filter-container"
      data-toggle="collapse">Filter Data - Click to Open</a>
  </div>
  <div geosite-filter-container></div>
  <div class="geosite-filter-modals">
    <div
      id="geosite-modal-filter-more"
      class="geosite-controller geosite-controller-modal geosite-modal modal fade geosite-filter-more"
      ng-controller="geosite-modal-filter-more"
      data-controller-name="geosite-modal-filter-more"
      data-controller-type="geosite-modal-filter-more"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel">
      <div geosite-modal-filter-more id="geosite-filter-more"></div>
    </div>
  </div>
</div>
