{% load geosite_tags %}
<div
  class="geosite-map-legend geosite-controller"
  ng-controller="geosite-map-legend"
  data-controller-name="geosite-map-legend"
  data-controller-type="geosite-map-legend">
  <div class="geosite-map-legend-label">
    <a
      class="btn btn-lg btn-primary"
      style="border:0;"
      title="Legend"
      data-target="#geosite-map-legend-container"
      data-toggle="collapse">Legend - Click to Open</a>
  </div>
  <div id="geosite-map-legend-container" class="geosite-map-legend-container collapse" style="">
    <div geosite-legend-featurelayers></div>
    <hr>
    <div geosite-legend-baselayers></div>
  </div>
  <div class="geosite-legend-modals">
    <div
      id="geosite-modal-layer-more"
      class="geosite-controller geosite-controller-modal geosite-modal modal fade geosite-layer-more"
      ng-controller="geosite-modal-layer-more"
      data-controller-name="geosite-modal-layer-more"
      data-controller-type="geosite-modal-layer-more"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel">
      <div geosite-modal-layer-more id="geosite-layer-more"></div>
    </div>
    <div
      id="geosite-modal-layer-carto"
      class="geosite-controller geosite-controller-modal geosite-modal modal fade geosite-layer-carto"
      ng-controller="geosite-modal-layer-carto"
      data-controller-name="geosite-modal-layer-carto"
      data-controller-type="geosite-modal-layer-carto"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel">
      <div geosite-modal-layer-carto id="geosite-layer-carto"></div>
    </div>
    <div
      id="geosite-modal-layer-config"
      class="geosite-controller geosite-controller-modal geosite-modal modal fade geosite-layer-config"
      ng-controller="geosite-modal-layer-config"
      data-controller-name="geosite-modal-layer-config"
      data-controller-type="geosite-modal-layer-config"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel">
      <div geosite-modal-layer-config id="geosite-layer-config"></div>
    </div>
  </div>
</div>
