<div
  id="geosite-sidebar"
  class="geosite-sidebar geosite-controller"
  ng-controller="geosite-sidebar"
  data-controller-name="geosite-sidebar"
  data-controller-type="geosite-sidebar">
  <div class="geosite-sidebar-charts" style="width:100%;">
    {% for c in map_config.charts %}
    <div>
      <h4 style="text-align:center;">{{ c.label }}</h4>
    </div>
    <div
      id="{{ c.id }}"
      class="geosite-sidebar-chart"
      style="width:360px;margin:0 auto;"
    ></div>
    {% endfor %}
  </div>
</div>
