{% load geosite_tags %}
<div id="{{ id }}" class="modal fade geosite-layer-legend" style="z-index:-1;color:black;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Cartography / {{ layer.title }}</h4>
      </div>
      <div class="modal-body">
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <p class="navbar-text" style="margin-bottom:0px;"><b>Select</b><br><b>a Style:</b></p>
            {% for view in layer.cartography %}
            <li role="presentation"{% if forloop.counter0 == 0 %} class="active"{% endif %}>
              <a
                class="geosite-intent"
                href="#{{ id }}-view-{{ view.id }}"
                aria-controls="{{ id }}-view-{{ view.id }}"
                data-intent-name="selectStyle"
                data-intent-data="{&quot;layer&quot;:&quot;{{ key }}&quot;,&quot;style&quot;:&quot;{{ view.id }}&quot;}"
                role="tab"
                data-toggle="tab"
                style="padding-left:8px; padding-right: 8px;"
                ng-bind-html="view.title | default:"Default" | tabLabel "></a>
            </li>
            {% endfor %}
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            {% for view in layer.cartography %}
            <div
              id="{{ id }}-view-{{ view.id }}"
              role="tabpanel"
              class="tab-pane{% if forloop.counter0 == 0 %} in active{% endif %}"
              style="padding: 10px;">
              <span><b>Attribute: </b>{{ view.attribute|default:"Not by attribute" }}</span><br>
              <span><b>Description: </b>{{ view.description|default:layer.description }}</span>
              <br>
              <br>
              {% if view.legend.symbol.type == "graduated" %}
              <div style="display: inline-block; vertical-align:top;">{{ view.label_left|safe }}</div>
              <svg width="300px" height="50px" version="1.0" xmlns="http://www.w3.org/2000/svg">
              {% with numberOfColors=view.colors.ramp|length %}
              {% for color in view.colors.ramp %}
                {% with idx=forloop.counter0 %}
                <rect
                  x="{{ idx|percent:numberOfColors }}%"
                  y="0"
                  width="{{ 1|percent:numberOfColors }}%"
                  height="50px"
                  fill="{{ color }}"
                  stroke-width="1"
                  stroke="#000000"/>
                <text
                  x="{{ idx|as_float|addFloat:0.5|percent:numberOfColors }}%"
                  y="50%"
                  text-anchor="middle"
                  fill="white"
                  font-size="18px">{{ idx }}</text>
                {% endwith %}
              {% endfor %}
              {% endwith %}
              </svg>
              <div style="display: inline-block; vertical-align:top;">{{ view.label_right|safe }}</div>
              {% elif view.legend.symbol.type == "graphic" %}
                {% if layer.type == "WMS" and layer.wms.layers %}
                  {% for layer2 in layer.wms.layers %}
                    {% with idx2=forloop.counter0 %}
                    <img src="{{ layer|legendGraphic:idx2 }}" style="display:block;"/>
                    {% endwith %}
                  {% endfor %}
                {% else %}
                  <img src="{{ layer|legendGraphic }}"/>
                {% endif %}
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
